<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HITRAC</title>
</head>
<body>
    <header>
        <a href="index.html">Home</a>
        <a href="home.html">About</a>
        <a href="#">Services</a>
        <a href="#">News</a>
    </header><br><br>
    <input type="text" name="name" placeholder="First name"><br><br>
    <input type="text" name="name" placeholder="Second name"><br><br>
    <input type="text" name="name" placeholder="Surname"><br><br>
    <input type="text" name="name" placeholder="Gender"><br><br>
    <a href="home.html">Home</a>
</body>
</html>
